%h1=@graph_title
- @up = "#{comparison_path(params[:id])}/#{params[:graph_path][/(.*)\/.*/,1]}"
%a{ :href => @up} Up
%p= @graph_directories
#subdirectories
  %ul
    - @graph_directories.each do |directory|
      - cat = directory[/\/comparisons\/\d*\/(.*)\/.*/,1].titleize
      - name = ApplicationController::Name_legend[directory[/\/comparisons\/\d*\/.*\/(.*)/,1]]
      %li
        %a{ :href => directory }= cat + " - " + name

%p= @graph_files
#graphs
  - @graph_files.each do |graph|
    %div.svg
      /%h3=graph.titleize
      %object{ :data => graph, :type => "image/svg+xml" }
