= javascript_include_tag 'generate_plot'
%h1=@graph_title
- @up = "#{comparison_path(params[:id])}/#{params[:graph_path][/(.*)\/.*/,1]}"
%a{ :href => @up} Up
:javascript 
  var first = "#{@comparison.first_description}";
  var second = "#{@comparison.second_description}";
/ TODO: This is the best I can pull off to clean and fix these paths to work despite changing the root path, it works... but probably isn't kosher Rails practice
/%p= "#{comparison_path(params[:id])}/#{@graph_directories.first}".split('/').uniq.join('/')
#subdirectories
  %ul
    - @graph_directories.each do |directory|
      - cat = directory[/\/comparisons\/\d*\/(.*)\/.*/,1].titleize
      - name = ApplicationController::Name_legend[directory[/\/comparisons\/\d*\/.*\/(.*)/,1]]
      %li
        %a{ :href => (comparison_path(params[:id]) + directory).split('/').uniq.join('/') }= cat + " - " + name
#graphs
  - @graph_files.each_with_index do |graph, i|
    - next if File.extname(graph) != ".json"
    :javascript
      var plot_title = "#{graph}"
    %p=graph
    %div.svg
      - category = graph.split('/')[-3].to_sym
      - subcat = graph.split('/')[-2].split('_').map{|word| word.capitalize}.join('').to_sym
      - name = File.basename(graph.split('/')[-1], '.svg').to_sym
      /%h3=graph.titleize
      - arrow = case ApplicationController::Known_trends[category][subcat][name]
      - when "down"
        - 'down-arrow.png'
      - when "up"
        - "up-arrow.png"
      - else
        - nil
      %div.legend.round
        %h5= "Legend"
        %div.first-desc.box
          %p.description= @comparison.first_description
        %div.second-desc.box
          %p.description= @comparison.second_description
        - if arrow 
          %div.arrow-container
            = image_tag arrow, :size => '16x16'
          %p.trend= "Desired trend"

      - txt = ['public', (comparison_path(params[:id]) + graph).split('/').uniq.delete_if{|a| a.empty? }].join('/')
      %div.bean{:id => "bean#{i+1}" }
      %div.time{:id => "time#{i+1}" }
      :javascript
                generate_plot(#{File.readlines(txt).first[0...-1] + ','+ i.to_s + ']'})
        //generate_plot("#{(comparison_path(params[:id]) + graph).split('/').uniq.delete_if(&:empty?).join('/')}")
