= javascript_include_tag 'plotting'
= javascript_include_tag 'generate_plot'
-if @graph_title
  %h2{:id => "graph_title" }= @graph_title
- @up = "#{comparison_path(params[:id])}/#{params[:graph_path][/(.*)\/.*/,1]}"
%a{ :href => @up} Up
:javascript 
  var first = "#{@comparison.first_description}";
  var second = "#{@comparison.second_description}";
/ TODO: This is the best I can pull off to clean and fix these paths to work despite changing the root path, it works... but probably isn't kosher Rails practice
/%p= "#{comparison_path(params[:id])}/#{@graph_directories.first}".split('/').uniq.join('/')
#subdirectories
  %ul
    - @graph_directories.each do |directory|
      - cat = directory[/\/comparisons\/\d*\/(.*)\/.*/,1].titleize
      - name = ApplicationController::Name_legend[directory[/\/comparisons\/\d*\/.*\/(.*)/,1]]
      %li
        %a{ :href => (comparison_path(params[:id]) + directory).split('/').uniq.join('/') }= cat + " - " + name
#graphs
  - @graph_files.select{|a| File.extname(a) == ".json" }.each_with_index do |graph, i|
    - category = graph.split('/')[-3].to_sym
    - subcat = graph.split('/')[-2]
    - name = File.basename(graph.split('/')[-1], '.json').to_sym
    - string = [ApplicationController::Name_legend[category.to_s],ApplicationController::Name_legend[subcat.to_s],ApplicationController::Name_legend[name.to_s]].join("--")
    :javascript
      var plot_title#{i+1} = "#{string}"
    %div.svg
      - arrow = case ApplicationController::Known_trends[category][subcat.split('_').map{|word| word.capitalize}.join('').to_sym][name]
      - when "down"
        - 'down-arrow.png'
      - when "up"
        - "up-arrow.png"
      - else
        - nil
      %div.legend.round
        %h5= "Legend"
        %div.first-desc.box
        %p.description= @comparison.first_description
        %div.second-desc.box
        %p.description= @comparison.second_description
        - if arrow 
          %div.arrow-container
            = image_tag arrow, :size => '16x16'
          %p.trend= "Desired trend"

      %div.bean{:id => "bean#{i+1}" }
      %div.time{:id => "time#{i+1}" }
      - txt = ['public', (comparison_path(params[:id]) + graph).split('/').uniq.delete_if{|a| a.empty? }].join('/')
      :javascript
        generate_plot(#{File.readlines(txt).first[0...-1] + ','+ i.to_s + ']'})
