= javascript_include_tag 'generate_uplc_graph'
%h1=@graph_title
- @up = "#{comparison_path(params[:id])}"
%a{ :href => @up} Up
#graphs
  - @graph_files.each_with_index do |graph, i|
    :javascript 
      var first = "#{@comparison.first_description}";
      var second = "#{@comparison.second_description}";
    %div.svg
      %div.legend.round
        %h5= "Legend"
        %div.first-desc.box
        %p.description= @comparison.first_description
        %div.second-desc.box
        %p.description= @comparison.second_description
        %div.plot{id: "plot#{i+1}"}
          - txt = ['public', (comparison_path(params[:id]) + graph).split('/').uniq.delete_if{|a| a.empty? }].join('/')
          - txt = File.readlines(txt).first[0...-1] + ',' + i.to_s + ']'
        :javascript
          plugin_values(#{txt}) 
          generate_plot()
          
