- categories = ["uplc", "chromatography", "ms1", "dynamic_sampling", "ion_source", "ion_treatment", "peptide_ids", "ms2", "run_comparison"]
- @comparison ||= Comparison.get(params[:id])
%h1= "Comparison ##{@comparison.id}"
%p <strong>User Description: </strong> #{ @comparison.description } <br> #{link_to "Edit", edit_comparison_path(@comparison)}
%ul.categories
  - categories.each do |cat|
    %li= link_to "#{cat.humanize}", "#{comparison_path(@comparison)}/#{cat}"
    
%table#comparisons-show
  %th Msrun set #1
  %th Msrun set #2
  %tr
  %td#lists= raw(@comparison.msrun_firsts.map{|i| link_to i.raw_id, msrun_path(i)}.join("<br>"))
  %td#lists= raw(@comparison.msrun_seconds.map{|i| link_to i.raw_id, msrun_path(i)}.join("<br>"))

%span#comparison-delete
  = link_to "Destroy", @comparison, :confirm => "Are you sure", :method => :delete 

  
