%h1 Metrics#index
#paginate
  = paginate @metrics
%table#metricshow
  %thead
    %tr
      %th ID
      %th Name
      %th Run Time
  %tbody
    - @metrics.each do |metric|
      %tr
        - m = Msrun.get(metric.msrun_id)
        %td= (link_to metric.msrun_id, metric_path(metric) )
        %td= m.raw_id
        %td= m.rawtime.readable_inspect
#paginate
  = paginate @metrics


