%h1 Metric#show
#navigation
  - ApplicationHelper::Categories.each do |cat|
    %p=link_to "#{ApplicationController::Name_legend[cat]}", "##{cat}"
%table#metric_out
  %thead
    %td Attribute
    %td Value
  - @data.each do |cat, hash|
    %tr.category
      %td
        %a{name: cat.downcase.gsub(/\s/,'_'), href: metric_path(params[:id])}= cat
      %td= "#{   }"
    - hash.each do |key, value|
      - if value.class != Hash
        %tr.item
          %td= key
          %td= value
      - else
        %tr.subcat
          %td= key
          %td= "#{   }"
          - value.each do |k,v|
            %tr.item
              %td= k
              %td= v
