%h1 Application Settings
%p Here you have a read out of your application configuration settings.  You can edit these directly by modifying the app_config.yml file in your document root.
%table.config_out
  %th Key:
  %th Value:
  %th
  - AppConfig.each do |k,v|
    - if v.is_a? Hash
      %tr.subhash
        %td= k
    - elsif v.is_a? Array
      - v.each do |a|
        - if a.is_a? Hash
          - a.each do |k2,v2|
            %tr
              %td
              %td= k2
              %td= v2
    - else
      %tr
        %td= k
        %td{colspan: 2}= v
