<h1>Welcome to Metriculator</h1>
<p>
Here, you'll find a live demo of the Metriculator framework, for performance metric tracking and recording.  This is an archived version of the live framework used in the author's research lab for monitoring, tracking, and automating performance metric generation.  
</p>
<p> For more information about the features and utility of this site, you can check out the following pages: 
</p>
<ul>
  <li><a href="<%= welcome_path %>">Welcome</a></li>
  <li><a href="<%= beanplot_path %>">Beanplot</a>&lt;-- Check this out for examples of metric tracking solving problems</li>
  <li><a href="<%= app_config_path %>">Configuration of Application</a></li>
  <li><a href="<%= qc_config_path %>">Configuration of Quality Control Notification System</a></li>
  <li><a href="<%= contact_path %>">Contact the Developer</a></li>

</ul>

<p>
While this site isn't directly plugged into our data acquisition machine in real time, it does contain real values parsed and included from our instrument, as well as some instructive examples demonstrating a comparison between two different ion sources and their associated chromatography settings (flow rates, and run times differed). These are titled CaptiveSpray and NanoSpray and can be viewed in <a href="<%= comparison_path(id: 1) %>">Comparison #1</a>
</p>
