%p Here is the comparison form. Will it work?
= form_tag comparisons_path, :method => 'post' do
  %div
    %label{ :for => 'comparison1' }Comparison 1
    = select_tag :comparison1, '', :multiple => true
  %div
    %label{ :for => 'comparison2' }Comparison 2
    = select_tag :comparison2, '', :multiple => true
  %div
    %label{ :for => 'description' }Description of set: 
    = text_field_tag :description, '', :maxlength => 255
  = submit_tag "Compare"

