%table.msrun
  %button{ :id => :filter }Filter
  %tr
    -# use td instead of th so we can nest forms inside the cells if we want.
    %td Compare Set 1
    %td Compare Set 2
    = render :partial => 'table_header', :locals => { :field_name => :raw_id, :common_name => "Name" }
    = render :partial => 'table_header', :locals => { :field_name => :group }
    = render :partial => 'table_header', :locals => { :field_name => :user }
    = render :partial => 'table_header', :locals => { :field_name => :rawtime, :common_name => "Date" }
    = render :partial => 'table_header', :locals => { :field_name => :taxonomy }
  %tr
    %td
      %button{ :id => 'group-1-all' } Add All To Comparison Set One
    %td
      %button{ :id => 'group-2-all' } Add All To Comparison Set Two
  - @msruns.each do |run|
    %tr{:id => "msrunid-#{run.id}"}
      %td.comparison1
        %button{ :id => "comparison-1-#{run.id}"} Add To Comparison Set One
      %td.comparison2
        %button{ :id => "comparison-2-#{run.id}"} Add To Comparison Set Two
      %td= link_to run.raw_id, msrun_path(run)
      %td=run.group || "No Group"
      %td=run.user || "No User"
      %td=run.rawtime || "No Date"
      %td=run.taxonomy || "No Taxonomy"

!= #pagination_links(@all, @page_number, @per_page)
