= paginate @msruns, :remote => true 
%table.msrun
  %thead
    %tr
      %th Compare Set 1
      %th Compare Set 2
      = render :partial => 'table_header', :locals => { :field_name => :raw_id, :common_name => "Name" }
      = render :partial => 'table_header', :locals => { :field_name => :group }
      = render :partial => 'table_header', :locals => { :field_name => :user }
      -# we can't do this, b/c we need to handle dates separately
      -# render :partial => 'table_header', :locals => { :field_name => :rawtime, :common_name => "Date" }
      %th{ :rowspan => 2 }
        = sortable "rawtime", "Date"
        = form_tag msruns_path, :method => 'get', :remote => true do
          %div{ :class => "filter-form" }
            = hidden_field_tag :direction, params[:direction]
            = hidden_field_tag :sort, params[:sort]
            = label_tag "search[rawtime][start]", "Between"
            = text_field_tag "search[rawtime][start]", (params[:search].fetch(:rawtime, {})).fetch(:start, "")
            %br
            = label_tag "search[rawtime][end]", "and"
            = text_field_tag "search[rawtime][end]", (params[:search].fetch(:rawtime, {})).fetch(:end, "")
            = submit_tag "Search", :name => nil
      = render :partial => 'table_header', :locals => { :field_name => :taxonomy }
    %tr
      %th
        %div{ :id => 'group-1-all', :class => 'js-button add round-small' } All to Set One
      %th
        %div{ :id => 'group-2-all', :class => 'js-button add round-small' } All to Set Two
  %tbody
  - @msruns.each do |run|
    %tr{:id => "msrunid-#{run.id}"}
      %td.comparison1
        %div{ :id => "comparison-1-#{run.id}", :class => 'js-button add round-small'} Set One
      %td.comparison2
        %div{ :id => "comparison-2-#{run.id}", :class => 'js-button add round-small'} Set Two
      %td= link_to run.raw_id, msrun_path(run)
      %td=run.group || "No Group"
      %td=run.user || "No User"
      %td=run.rawtime.readable_inspect || "No Date"
      %td=run.taxonomy || "No Taxonomy"

!= #pagination_links(@all, @page_number, @per_page)
= paginate @msruns, :remote => true 
