- content_for :head do
  = javascript_include_tag 'msruns'
  = javascript_include_tag 'jquery-ui'

%h1 Msruns
#paginate 
  = paginate @msruns
#msruns
  = render :partial => 'msrun_table'
#paginate 
  = paginate @msruns
#comparison-form
  = render :partial => 'comparison_form'
