%h1 Msrun#show
%table#msrunshow
  %tr
    %th Property
    %th Value
  - @msrun.attributes.each do |k,v|
    %tr
    - if k['rawtime']
      %td= k
      %td= v.readable_inspect
    - else
      %td= k
      %td= v
%span#graphs
  %h2 UPLC Pressure Trace
  %div.hplcgraph
    = high_chart("hplc_graph", @h)
%p= @msrun.methods
%p= @msrun.inspect
