%footer
  %nav.round
    %ul
      %li= link_to "Home", root_path
      %li= " | "
      %li= link_to "Status", status_path
      %li= " | "
      %li= link_to "Contact", contact_path
      %li= " | "
      %li= link_to "Application Config", app_config_path
      %li= " | "
      %li= link_to "Alerts Config", qc_config_path
