- categories = ["chromatography", "ms1", "dynamic_sampling", "ion_source", "ion_treatment", "peptide_ids", "ms2", "run_comparison"]
%header
  %nav.round
    %ul.header
      %li= render 'alerts/alert_num'
      %li= link_to "Home", 'pages/home'
      %li= link_to "Msruns", msruns_path
      %li= link_to "Comparisons", comparisons_path
      %li= link_to "Metrics", metrics_path
      - if ['comparisons'].include?(params[:controller]) and params[:id]
        %li ||
        - categories.each do |cat|
          %li= link_to "#{cat.humanize}", "#{params[:id]}/#{cat.downcase}"
        
  = link_to logo, root_path
  - if flash[:error]
    .error=flash[:error]
  - if flash[:notice]
    .notice=flash[:notice]
  -if flash[:success]
    .success=flash[:success]
#messages
= render 'alerts/alerts'
