%header
  %nav.round
    %ul.header
      %li= link_to (render 'alerts/alert_num'), alerts_path, :class => "alerts"
      %li= link_to "Home", root_path
      %li= link_to "Msruns", msruns_path
      %li= link_to "Comparisons", comparisons_path
      %li= link_to "Metrics", metrics_path
    %ul.subheader
      - if ['comparisons'].include?(params[:controller]) and params[:id]
        %li= link_to "Comparison Home", comparison_path(@comparison)# + '/' + params[:id]
        - CATEGORIES.each do |cat|
          %li= link_to "#{cat.humanize}", "#{comparison_path(@comparison)}/#{cat.downcase}"
  = link_to logo, root_path
  - if flash[:error]
    .error=flash[:error]
  - if flash[:notice]
    .notice=flash[:notice]
  -if flash[:success]
    .success=flash[:success]
#messages
= render 'alerts/alerts'
