- categories = ["uplc", "chromatography", "ms1", "dynamic_sampling", "ion_source", "ion_treatment", "peptide_ids", "ms2", "run_comparison"]
%header
  %nav.round
    %ul.header
      - alert_color =  @alerts.size < 1 ? "alert_okay" : "alert_bad"
      %li= link_to (render 'alerts/alert_num'), alerts_path, :id => "alert_num", :class => "#{alert_color} "
      %li= link_to "Home", root_path
      %li= link_to "Msruns", msruns_path
      %li= link_to "Comparisons", comparisons_path
      %li= link_to "Metrics", metrics_path
    %ul.subheader
      - if ['comparisons'].include?(params[:controller]) and params[:id]
        %li= link_to "Comparison Home", comparison_path(@comparison)# + '/' + params[:id]
        - categories.each do |cat|
          %li= link_to "#{cat.humanize}", "#{comparison_path(@comparison)}/#{cat.downcase}"
  = link_to logo, root_path
  - if flash[:error]
    .error=flash[:error]
  - if flash[:notice]
    .notice=flash[:notice]
  -if flash[:success]
    .success=flash[:success]
#messages
= render 'alerts/alerts'
