- categories = ["chromatography", "ms1", "dynamic_sampling", "ion_source", "ion_treatment", "peptide_ids", "ms2", "run_comparison"]
%header
  %nav.round
    %ul.header
      %li= render 'alerts/alert_num'
      - categories.each do |cat|
        %li= link_to "#{cat.humanize}", 'msrun/index'
  = link_to logo, root_path
  - if flash[:error]
    .error=flash[:error]
  - if flash[:notice]
    .notice=flash[:notice]
  -if flash[:success]
    .success=flash[:success]
= render 'alerts/alerts'
