%title MetricsSite
= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600"
= stylesheet_link_tag :all#, :cache => "cache/all"
= javascript_include_tag "jquery", "jquery-ui", "jquery_ujs", "humane", "application"#, :cache => "cache/all"
= csrf_meta_tag
= yield :head
